<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Welcome 
            <p class="lead"></p>
          </h1>
        </div>          
              </div>
            </div>
          </div>



          <div class="container">
            <div class="row">
              
              <div class="col-md-12"> 
                
                <div class="panel">
                  <div class="panel-body">
                    <h3 style="text-align: center;" >“Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.”</h3>
                      <h3 style="text-align: center;">– Charles W. Eliot</h3>
                      <br>
                      <br>
                    
                    <h4 style="text-align: center;">Welcome to Library App, a curated collection of sources of information,similar resources
                      including  books, periodicals, newspapers, prints, documents, videotapes, DVDs, Blu-ray Discs, e-books and audiobooks. </h4>
                    
                    
                  
                    
                  </div>
                </div>
                                                                                                 
                                                            
                                                                
               </div><!--/col-12-->
            </div>
          </div>
  